<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57382237521-ka27h5mrdf14m1koosqsh24b2im3krej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57382237521-ka27h5mrdf14m1koosqsh24b2im3krej</string>
	<key>API_KEY</key>
	<string>AIzaSyCb3KuVRU1cTqaaZY0bk56uCezmnLgrm0M</string>
	<key>GCM_SENDER_ID</key>
	<string>57382237521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Neev.CalTrack</string>
	<key>PROJECT_ID</key>
	<string>caltrack-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>caltrack-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:57382237521:ios:988f4595a97d26e3f88f70</string>
</dict>
</plist>
